@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  font-family: "Anonymous Pro", monospace !important;
  overflow: hidden;
}

input[type="text"]::placeholder {
  color: lightgray;
  opacity: 0.2;
}

textarea::placeholder {
  color: lightgray;
  opacity: 0.2;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/screen.gif");
  opacity: 0.2;
  z-index: -1;
}

.selected {
  background-color: red;
  color: red;
}
